{% extends 'base.html.twig' %}

{% block title %} Mes adresses {% endblock %}

{% block content %}
    <br>
    <a href="{{ path('app_account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <div>

        <h2>Mes adresses</h2>
        <a href="{{ path('app_account') }}">Retour</a>
    </div>
    <hr>

    {% for messages in app.flashes(['success', 'error', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.user.addresses|length==0 %}
        <p>Vous n'avez pas encore ajouté une adresse dans votre compte client, pour en ajouter une, veuillez <a href="">cliquer ici </a></p>
    {% else %}
        <div class="row">
        {% for address in app.user.addresses %}
            <div class="col-md-4">
                <div class="card card-address" >
                    <div class="card-body">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ address.adresse }} <br/> {{ address.postal }} {{ address.city }} </h6>
                        <a href="{{ path('app_account_address_edit', {'id': address.id}) }}" class="">Modifier</a>
                        <a href="#" data-id="{{ path('app_account_address_duplicate', {'id': address.id}) }}" data-toggle="modal" data-target="#duplicateAddress" class="adressEdit " style="margin-left: 50px;color: grey;">Dupliquer</a>
                        <a href="#" data-id="{{ path('app_account_address_delete', {'id': address.id}) }}" data-toggle="modal" data-target="#deleteAddress" class="float-right adressEdit" style="color: red">Supprimer</a>
                        <script type="application/javascript">
                            $(document).on("click", ".adressEdit", function () {
                                var myBookId = $(this).data('id');
                                $(".modal-footer #confirm").attr("href", myBookId );
                            });
                        </script>
                {# modal delete #}
                        <div class="modal fade" id="deleteAddress" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Voulez vous supprimer cette adresse ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                                        <a id="confirm" class="btn btn-info" href="" >Confirmer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# modal duplicate #}
                        <div class="modal fade" id="duplicateAddress" tabindex="-1" aria-labelledby="myDuplicateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Voulez vous supprimer cette adresse ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                                        <a id="confirm" class="btn btn-info" href="" >Confirmer</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>


    {% endif %}
{% endblock %}
