{% extends 'base.html.twig' %}

{% block title %} Mes adresses {% endblock %}

{% block content %}
    <br>
    <a href="{{ path('app_account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <div>

        <h2>Mes adresses</h2>
        <a href="{{ path('app_account') }}">Retour</a>
    </div>
    <hr>
    {% if delete is defined and delete %}
    <div class="alert alert-danger">{{ delete }}</div>
    {% endif %}
    {% if app.user.addresses|length==0 %}
        <p>Vous n'avez pas encore ajouté une adresse dans votre compte client, pour en ajouter une, veuillez <a href="">cliquer ici </a></p>
    {% else %}
        <div class="row">
        {% for address in app.user.addresses %}
            <div class="col-md-4">
                <div class="card card-address" >
                    <div class="card-body">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ address.adresse }} <br/> {{ address.postal }} {{ address.city }} </h6>
                        <a href="{{ path('app_account_address_edit', {'id': address.id}) }}" class="">Modifier</a>   <a href="{{ path('app_account_address_delete', {'id': address.id}) }}" class="float-right delete" style="color: red">Supprimer</a>

{#*****************************************#}

{#**************************************#}

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button  type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
